<h1>Your weather forecast is as follows:</h1>

<h2><%= @response.title %></h2>
<h2>The temperature is currently <%= @response.condition.temp %> degrees F</h2>
<h2><%= @response.condition.text %></h2>
<h2><img src="http://newsbuzzdaily.com/wp-content/uploads/2014/08/Chicago-Skyline.jpg"height="200" width="200"></h2>
